.card-profile-container {
    margin: 2vh;
}

.card-profile-img {
    width: 20vh;
    height: 16vh;
    margin: auto;
}

#profile-form {
    text-transform: capitalize;
}

.profile-abilities {
    list-style-type: disc;
    display: list-item;
    align-items: flex-end;
    text-align: left;
}

#profile-buttons {
    padding: 2vh 0;
}

#profile-buttons div{
    padding: 1%;
}

#profile-buttons div button{
    box-shadow: unset;
    padding: 0 2px;
    margin: 2px;
}

.MuiButton-label {
    text-transform: capitalize;
}

.MuiCard-root {
    min-height: 35vh;
}

@media (orientation: landscape) and (max-width: 550px) {
    .card-profile-img {
        width: 20vh;
        height: 17vh;
    }
}

@media (min-width: 800px) {
    .card-profile-img {
        width: 20vh;
        height: 14vh;
    }

    .MuiButton-label {
        font-size: 1.5em;
    }

    #profile-form {
        font-size: 2em;
    }
}
