
 @import '../../assets/variables.scss';

.header-big-area {
    background-color: $base;
    width: 100vw;
    height: 30vh;
}

.header-small-area {
    background-color: $black;
    width: 100vw;
    height: 3vh;
}

.header-circle-area {
    border: 2vh solid $black;
    border-radius: 15px;
    width: 53vw;
    height: 9vh;
    position: absolute;
    display: inline-block;
    top: 24vh;
    left: 22vw;
    background-color: $white;
}

.header-img {
    width: 30vh;
    top: 9vh;
    position: relative;
}

.header-container {
    text-align: center;
    overflow: hidden;
    height: 39vh;
  }

@media (min-width: 800px) {
    .header-small-area {
        height: 2vh;
    }

    .header-circle-area {
        height: 8vh;
        top: 25vh;
        left: 34vw;
        width: 38vw;
    }

    .header-img {
        width: 30vh;
        top: 4vh;
        left: 4vw;
    }

}